 Volume in drive C is Windows
 Volume Serial Number is 6CE8-784C

 Directory of C:\tmp\gittest\aaa

10/08/2021  01:34 PM    <DIR>          .
10/08/2021  01:34 PM    <DIR>          ..
10/08/2021  01:06 PM               388 dir2.txt
10/08/2021  01:34 PM                 0 dir3.tt
10/08/2021  11:56 AM                15 README.md
               3 File(s)            403 bytes
               2 Dir(s)  66,399,117,312 bytes free
